
.logo{
  width: 100px;
  height: 40px;
  float: left;
  margin-top: 10px;
  background-image: url(/public/img/bank-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.top-menu{
  background-color: #fff;
  padding: 0px;
}
.menu-item{
  background-color: red;
  height: 100%;
  text-align: center;
}